svg.dial {
  width: 400px;
  height: 400px;
}

#circle {
  stroke: #add8e6;
  stroke-width: 0.75px;
  fill: white;
}
#dot {
  fill: #65a49c;
}
.dial .knob_number {
  fill: #65a49c;
  font-size: 3px;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  text-anchor: middle;
  dominant-baseline: central;
  pointer-events: none;
  
  /* https://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
  -webkit-touch-callout: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.loaderCW {
  position: absolute;
  /* manually calculates center position i.e. (half screen - half element width) */
  top: calc(50% - 180px);
  left: calc(50% - 180px);

  z-index: 1;
 
  border: 30px solid #eaa14e;
  border-radius: 50%;
  border-top: 30px solid #3498db;
  width: 360px;
  height: 360px;
  -webkit-animation: spincw 2s linear infinite; 
  animation: spincw 2s linear infinite; 

    /* https://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Safari */
@-webkit-keyframes spincw {
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spincw {
  100% { transform: rotate(360deg); }
}

.loaderCCW {
  position: absolute;
  /* manually calculates center position i.e. (half screen - half element width) */
  top: calc(50% - 180px);
  left: calc(50% - 180px);

  z-index: 1;
 
  border: 30px solid #eaa14e;
  border-radius: 50%;
  border-top: 30px solid #3498db;
  width: 360px;
  height: 360px;
  -webkit-animation: spinccw 2s linear infinite; 
  animation: spinccw 2s linear infinite; 

    /* https://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Safari */
@-webkit-keyframes spinccw {
  100% { -webkit-transform: rotate(-360deg); }
}

@keyframes spinccw {
  100% { transform: rotate(-360deg); }
}